<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.html">
    <title>首页</title>
    <!-- Bootstrap core CSS -->
    <link href="/Public/Admin/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="/Public/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Public/Home/css/animate.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/Public/Home/css/hwm-style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="/Public/Admin/js/html5shiv.js"></script>
      <script src="/Public/Admin/js/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
      <section id="container" class="">
       <!--header start -->
        <include file="Public/sidebar" />
       <!--header end-->
        <div class="container" style="margin-top: 80px;">
            <div class="row">
                <div class="col-sm-12">
                <!---->
                <div class="article-content-comment" style="margin-bottom: 60px; ">
                    <div class="add-comment-box">
                      <div class="textarea-box">
                        <textarea name="content"></textarea>
                      </div>
                      <div class="add-file">
                        <span class="icon-smile file-left emjoy">
                          <!--表情开始-->
                            
                          <!--表情结束-->
                        </span>
                        <!-- <span class="icon-picture pull-left file-left"></span> -->
                        <span class="pull-right">
                          <button type="button" class="btn btn-info add_message">留言</button>
                        </span>
                      </div>
                    </div>
                </div>
                <!--留言主体开始-->
                        <div class="row animated fadeInUp" style="margin: 0px;">
                        <!--<foreach name="messageList" item="v">-->
                            <div class="col-sm-3">
                                <div class="message-list">
                                     <small>{:sinaIP($v['u_ip'])}</small>
                                     <p>{:replaceEmjoy($v['u_message'])}</p>
                                    <small class="pull-right message-data">
                                      date:{:date('Y-m-d H:i:s',$v['add_time'])}
                                    </small>
                                    <div class="message-reply animated flipInX">
                                        <small>reply</small>
                                        <span class="close-reply pull-right">x</span>
                                        <p>
                                        <!--<if condition="$v['u_reply'] eq ''">-->
                                          暂未回复
                                        <!--<else/>-->
                                          {$v['u_reply']}
                                        <!--</if>-->
                                        </p>
                                        <small class="pull-right reply-date">
                                          <!--<if condition="$v['u_reply'] neq ''">-->
                                           date:{:date('Y-m-d H:i:s',$v['reply_time'])}
                                          <!--</if>-->
                                        </small>
                                    </div> 
                                </div>
                            </div>
                        <!--</foreach>-->
                        </div>
                </div>
                <!--留言主体结束-->
                </div>
            </div>
    </section>

 
    <script src="/Public/Admin/js/jquery.js"></script>
    <script src="/Public/Admin/js/jquery-1.8.3.min.js"></script>
    <script src="/Public/Admin/js/bootstrap.min.js"></script>
    <script src="/Public/Admin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/Public/Admin/assets/layer/layer.js"></script>
    <script src="/Public/Home/js/hwm-basic.js"></script>
    <script type="text/javascript">
        var url = "{:U('Home/Message/addMessage')}";//url参数
    </script>
</body>

</html>
