	<div class="panel panel-default index-left-item visible-lg">
	    <div class="panel-body">
	        <div class="tag-list">
	          <e>标签：</e>
	          <div class="tag-item">
	            <span class="label label-default">默认</span>
				<span class="label label-primary">主标签</span>
				<span class="label label-success">成功标签</span>
				<span class="label label-info">标签</span>
				<span class="label label-default">默认</span>
				<span class="label label-primary">主标签</span>
				<span class="label label-success">成功标签</span>
				<span class="label label-info">标签</span>
				<span class="label label-default">默认</span>
				<span class="label label-primary">主标签</span>
				<span class="label label-success">成功标签</span>
				<span class="label label-info">标签</span>
	          </div>
	        </div>
	    </div>
	</div>