<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.html">
    <title>关于</title>
    <!-- Bootstrap core CSS -->
    <link href="/Public/Admin/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="/Public/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Public/Home/css/animate.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/Public/Home/css/hwm-style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="/Public/Admin/js/html5shiv.js"></script>
      <script src="/Public/Admin/js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">

    </style>
  </head>

<body>
      <section id="container" class="">
       <!--header start -->
        <include file="Public/sidebar" />
       <!--header end-->
        <div class="container" style="margin-top: 80px;background:#fff;">
         <div class="about-contant">
            <div class="desc animated fadeInUp">
            <h6>介绍</h6>
              <ul style="text-indent: 25px;">
 <!--                <li>意随心，90后摩羯座闷骚男青年！2016年7月毕业于江西一所普通高校——江西科技师范大学，就读“信息管理与信息系统”专业。由于情商欠发达，遂专业分流时毅然选择技术方向，在众多计算机语言中对WEB开发情有独钟，现从事于WEB后台与App接口等开发工作。喜欢完成项目时和解决问题后的成就感。。。。。
                </li> -->
                <li>
                90后摩羯闷骚+喜欢文字却又是理科男，毕业于江西科技师范大学——“信息管理与信息系统”专业，由于专业的特殊性+为了个人的未来人生计划考虑，遂专业分流时毅然选择技术方向，在众多的编程语言中，对web开发情有独钟，故选择PHP为编程开发为主要方向，毕业半年后顺利实现了从学生到PHP程序猿的转变～～现暂居深圳，上班期间喜欢听钢琴曲+FM+和老司机同事一起开车，不上班期间，喜欢打lol+熟悉的人面前疯，不熟悉人面前装。。。。。。</li>
              </p>
            </div>
            <div class="desc animated fadeInUp">
            <h6>技能</h6>
              <ul>
                <li>1、前端页面代码的熟练编写，以及熟练PHP，熟练ThinkPhp + yii2框架。</li>
                <li>2、擅长web后台以及App接口编写。</li>
                <li>3、熟悉数据库设计。</li>
                <li>4、擅长Ai、Fw、Fl、Br、Ae、Pr、Id、PS等软件的安装与卸载。</li>
                <li>5、精通CSS、JavaScript、PHP、C、C＋＋、java、Ruby、Perl、Lisp、python、Objective-C、ActionScript等单词的拼写。</li>
              </ul>
            </div>
            <div class="desc animated fadeInUp">
            <h6>经历</h6>
              <ul>
                <li>
                   1、2015.9 —— 2016.2，从实习期间开始就职于南昌某IT外包公司，工作内容主要为web后台及App接口的开发，工作中，开发web站点5个，上线App两个。在此期间学会ThinkPhp框架 + 版本控制svn工具的使用。
                </li>
                <li>
                   2、2016.3 —— 2017.2，学校毕业后来到深圳，就职于深圳某旅游行业公司，工作内容为旅游web后台及旅游App接口开发，在此期间学会了yii2.0 + 版本控制工具git的使用。
                </li>
                <li>
                   3、。。。。。。
                </li>
              </ul>
            </div>
            <div class="desc animated fadeInUp">
              <h6>联系方式</h6>
              <ul>
                  <li>邮箱：hwangming321@163.com</li>
                  <li>QQ：1036753791</li>
              </ul>
            </div>

         </div>
        </div>
      </section>


      <div class="container-fluid index-fotter visible-lg fotter">
        Copyright © 2013-2016 意随心  myWeb.com All Rights Reserved. 备案号：闽ICP备15012807号-1
      </div>   


    <script src="/Public/Admin/js/jquery.js"></script>
    <script src="/Public/Admin/js/jquery-1.8.3.min.js"></script>
    <script src="/Public/Admin/js/bootstrap.min.js"></script>
    <script src="/Public/Admin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/Public/Admin/assets/layer/layer.js"></script>
    <script src="/Public/Home/js/hwm-basic.js"></script>

    <script type="text/javascript"> 

    </script> 
</body>

</html>
